[submodule "python/herokuHelloPython"]
	path = python/herokuHelloPython
	url = https://github.com/creednaylor/herokuHelloPython.git
[submodule "herokuGorilla"]
	path = herokuGorilla
	url = https://github.com/creednaylor/herokuGorilla.git
[submodule "node/herokuHelloNode"]
	path = node/herokuHelloNode
	url = https://github.com/creednaylor/herokuHelloNode.git
