[submodule "javascript/herokuHelloJavascript"]
	path = javascript/herokuHelloNode
	url = https://github.com/creednaylor/herokuHelloJavascript.git
[submodule "python/herokuHelloPython"]
	path = python/herokuHelloPython
	url = https://github.com/creednaylor/herokuHelloPython.git
[submodule "herokuGorilla"]
	path = herokuGorilla
	url = https://github.com/creednaylor/herokuGorilla.git
